GDEWebService/Web References/MarkerProvisioningWS/MarkerProvisioningWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.rm.com/scoris/WebServices/MarkerProvisioningWS/2009/03" xmlns:s1="http://www.rm.com/scoris/schemas/2009/03/Marker" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.rm.com/scoris/WebServices/MarkerProvisioningWS/2009/03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Marker Provisioning Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.rm.com/scoris/WebServices/MarkerProvisioningWS/2009/03">
      <s:import namespace="http://www.rm.com/scoris/schemas/2009/03/Marker" />
      <s:element name="Marker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RMKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" ref="s1:MarkerArguments" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MarkerResult" type="tns:MarkerReceipt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MarkerReceipt">
        <s:complexContent mixed="false">
          <s:extension base="tns:ScorisWSReceipt" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ScorisWSReceipt">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.rm.com/scoris/schemas/2009/03/Marker">
      <s:element name="MarkerArguments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MarkerIdentifier" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MarkerType" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Initials" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Surname" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Email" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticationIdentifier" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MarkerSoapIn">
    <wsdl:part name="parameters" element="tns:Marker" />
  </wsdl:message>
  <wsdl:message name="MarkerSoapOut">
    <wsdl:part name="parameters" element="tns:MarkerResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="MarkerProvisioningWSSoap">
    <wsdl:operation name="Marker">
      <wsdl:input message="tns:MarkerSoapIn" />
      <wsdl:output message="tns:MarkerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MarkerProvisioningWSSoap" type="tns:MarkerProvisioningWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Marker">
      <soap:operation soapAction="http://www.rm.com/scoris/WebServices/MarkerProvisioningWS/2009/03/Marker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://www.rm.com/scoris/WebServices/MarkerProvisioningWS/2009/03/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MarkerProvisioningWSSoap12" type="tns:MarkerProvisioningWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Marker">
      <soap12:operation soapAction="http://www.rm.com/scoris/WebServices/MarkerProvisioningWS/2009/03/Marker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://www.rm.com/scoris/WebServices/MarkerProvisioningWS/2009/03/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarkerProvisioningWS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Marker Provisioning Service</wsdl:documentation>
    <wsdl:port name="MarkerProvisioningWSSoap" binding="tns:MarkerProvisioningWSSoap">
      <soap:address location="https://gder61uat-webservice.assessor.rm.com/MarkerProvisioningWS.asmx" />
    </wsdl:port>
    <wsdl:port name="MarkerProvisioningWSSoap12" binding="tns:MarkerProvisioningWSSoap12">
      <soap12:address location="https://gder61uat-webservice.assessor.rm.com/MarkerProvisioningWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>